[
  {"name": "Jellyfin",    "username": "admin", "password": "{{ jellyfin_admin_password }}",    "url": "https://jellyfin.andusystems.com"},
  {"name": "Grafana",     "username": "admin", "password": "{{ grafana_admin_password }}",     "url": "https://grafana.andusystems.com"},
  {"name": "Pi-hole",     "username": "admin", "password": "{{ pihole_admin_password }}",      "url": "https://pihole.andusystems.com/admin"},
  {"name": "Uptime-Kuma", "username": "admin", "password": "{{ uptime_kuma_admin_password }}", "url": "https://status.andusystems.com"}
]
